/* ========== IMPORTS ==========*/
@import url('./styles/theme.css');
@import 'primeicons/primeicons.css';

/* Global Styles */
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family-base);
}

app-root {
  display: block;
  width: 100%;
  height: 100%;
}

/* PrimeNG ConfirmDialog Styles */
::ng-deep .p-confirm-dialog {
  z-index: 1000;
}

::ng-deep .p-mask {
  z-index: 999;
}
