/* ========== IMPORTS ==========*/
@import url('./styles/theme.css');

/* Global Styles */
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family-base);
}

app-root {
  display: block;
  width: 100%;
  height: 100%;
}
